        /*　全体のおおまかな箱*/
        .container{
            margin:0 auto;
            max-width:750px;
            overflow: hidden;
        }
        .top{
            text-align: center;
            margin:min(50 / 750 * 100vw,50px) auto min(50 / 750 * 100vw,50px);
        }
        .item{
            display:flex;
            gap:min(20 / 750 * 100vw,20px);
            justify-content: center;
            margin-bottom: min(50 / 750 * 100vw, 50px);
        }

        .item_parent{
            margin:0 auto;
            width:min(700 / 750 * 100vw,700px);
        }

        @media screen and (max-width:750px) {
            .item{
                flex-flow: column;
            }
            .item_parent{
                margin:0 auto;
            }    
        }

        .item_title{
            text-align: center;
            font-size: min(24 / 750 * 100vw, 24px);
            font-weight: bold;
            line-height: 2.0;
        }

        .item_photo{
            display:flex;
            justify-content: center;
            margin:0 auto;
        }
        .item_photo img{
            display:block;
            object-fit: contain;
            height: min(200 / 750 * 100vw,200px);
        }

        /* リストのスタイル */
        .text_list {
            width:min(350 / 750 * 100vw,350px);
            list-style: none;
            margin: 0 auto;
            padding: 0;
        }

        /* 各リストアイテムのスタイル */
        .text_list_item {
            background-color: #fffff9;
            margin-bottom: min(10 / 750 * 100vw,10px);
            padding: min(10 / 750 * 100vw,10px);
            overflow-wrap: break-all;
        }

        /* タイトルのスタイル */
        .text_list_title {
            font-size: min(18 / 750 * 100vw,18px);
            font-weight: bold;
            margin-bottom: min(5 / 750 * 100vw,5px);
        }

        /* 情報のスタイル */
        .text_list_info {
            font-size: min(14 / 750 * 100vw, 14px);
        }

        .green{
            background-color: #a7c6c8;
        }

        .pink{
            background-color: #f2d4e3;
        }